<html>
    <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
    <div class="header">
    <h1>Welcome to MikeyT Trivia!</h1>
<h3>Choose your category:</h3>
</div>
<div class="row">
    <div class="column"></div>
        <button type="submit" class="btn btn-primary btn-lg" (click)="anyCategory()">Any</button>
        <button type="submit" class="btn btn-primary btn-lg" (click)="getCategory('books')">Books</button>
        <button type="submit" class="btn btn-primary btn-lg" (click)="getCategory('videogames')">Video Games</button>
        <button type="submit" class="btn btn-primary btn-lg" (click)="getCategory('movies')">Movies</button>
        <button type="submit" class="btn btn-primary btn-lg" (click)="getCategory('television')">Television</button>
   
</div>
  

    <div class="row">
        <div class="column"></div>
    
        <button type="submit" class="btn btn-primary btn-lg" (click)="getCategory('sports')">Sports</button>
        <button type="submit" class="btn btn-primary btn-lg" (click)="getCategory('politics')">Politics</button>
        <button type="submit" class="btn btn-primary btn-lg" (click)="getCategory('science')">Science</button>
        <button type="submit" class="btn btn-primary btn-lg" (click)="getCategory('music')">Music</button>
        <button type="submit" class="btn btn-primary btn-lg" (click)="getCategory('history')">History</button>

    </div>


     <div class="row">
        <div class="column"></div> 
        <button type="submit" class="btn btn-primary btn-lg" (click)="getCategory('art')">Art</button>
        <button type="submit" class="btn btn-primary btn-lg" (click)="getCategory('geography')">Geography</button>
        <button type="submit" class="btn btn-primary btn-lg" (click)="getCategory('mythology')">Mythology</button>
        <button type="submit" class="btn btn-primary btn-lg" (click)="getCategory('celebrities')">Celebrities</button>
        <button type="submit" class="btn btn-primary btn-lg" (click)="getCategory('animals')">Animals</button>
    </div>
</body>
</html>



